$noto-sans: "Noto Sans JP", sans-serif;
$roboto: "Roboto", sans-serif;
$bg-color: #eff6ee;
$text-color: #3d617a;
$oxford-blue: #03254e;
$space-cadet: #2b2d42;
$cta-color: #044b7f;
$outline-color: #577590;
$heading-color: #494949;
$label-color: #777575;
