@use '../../abstract/mixins.scss' as *;
@use '../../abstract/variables.scss' as *;

.cities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table__body-data {
  cursor: pointer;
  list-style: none;
  @include small-heading;
  padding: 0.5rem 0;

  &:hover {
    color: $cta-color;
  }
}
