@use '../../abstract/mixins.scss' as *;
@use '../../abstract/variables.scss' as *;

.entry {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
  padding: 1rem;

  &__wrap-bottom {
    display: flex;
  }

  &__wrap {
    // flex-direction: column;
  }

  &__temp {
    padding: 1rem;
  }

  &__time {
    @include label;
    padding: 1rem 0;
  }

  &__current-temp,
  &__temp-range,
  &__humidity,
  &__feels {
    @include text;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 0.25rem;
  }

  &__conditions {
    display: flex;
    justify-content: center;
    align-items: center;
    @include text;
    text-transform: capitalize;
    padding: 1rem;
  }
}
