@use '../../abstract/mixins.scss' as *;
@use '../../abstract/variables.scss' as *;

.analysis {
  width: 100%;
}

.current {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__name {
    @include heading;
  }

  &__heading {
    @include small-heading;
    padding: 2rem 0;
  }
}

.forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    @include small-heading;
  }

  &__list {
    list-style: none;
  }

  &__list-item {
    width: 100%;
  }
}
