@use '../../abstract/mixins.scss' as *;

.current {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  width: 100%;
  padding: 0 1rem;

  &__heading {
    @include small-heading;
  }

  &__name {
    @include heading;
  }
}
