@use './abstract/variables.scss' as *;
@use './abstract/mixins.scss' as *;

.container {
  height: 100vh;
  background-color: $bg-color;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  position: relative;
}

.page-scroll {
  height: 100vh;
  scroll-snap-align: start;
}

.weather,
.weather__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    @include heading;
  }
}

.current-video {
  height: 100vh;
  object-fit: cover;
  position: absolute;
  filter: opacity(0.5);
  max-width: 100%;
}

.current-analysis {
  width: 100%;
}
